<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="img/avatar3.png" class="img-circle" alt="User Image" />
			</div>
		</div>
		<!-- /Sidebar user panel -->

		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
			<li><a href="/data"><i class="fa fa-list"></i> Data</a></li>
		</ul>

		<!-- /sidebar menu: : style can be found in sidebar.less -->
	</section>
	<!-- /sidebar: style can be found in sidebar.less -->
</aside>
<!-- /Left side column. contains the logo and sidebar -->